/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Helvetica, Arial, system-ui;
  height: 100vh;
  line-height: 1.5;
}

form {
  display: flex;

  width: 50%;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
}

label {
  display: block;
  width: 100%;
}

input {
  min-width: 100%;
}
