/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Helvetica, Arial, system-ui;
  height: 100vh;
  line-height: 1.5;
}

form {
  display: flex;
  width: 30%;
  height: fit-content;
  flex-direction: column;
  margin: 10% auto;
  padding: 25px;
  gap: 15px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(40, 40, 40, 1));
}

h2,
h3,
label {
  color: rgba(245, 240, 230, 0.9);
}

label {
  display: block;
  width: 100%;
}

input {
  appearance: none;
  outline: none;
  min-width: 100%;
  padding: 5px;
}

.error {
  width: 100%;
  height: auto;
}

.error.active {
  padding: 3px;
  background-color: rgb(165, 55, 55);
  color: rgb(255, 255, 255);
}
.invalid {
  box-shadow: 0px 0px 8px 3px #ff4d4d;
}

.valid {
  box-shadow: 0px 0px 8px 3px #00ff80;
}

button {
  width: 20%;
  padding: 5px;
  margin: 15px auto;
  cursor: pointer;
}
